@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --size-M: 12.5em;
    --size-XS: calc(var(--size-M) / 3);
    --size-XXS: calc(var(--size-M) / 4);
    --size-L: calc(var(--size-M) * 2.5);
    --size-XL: calc(var(--size-M) * 3.5);

    /* Colors for objects that are animated */
    --A-darkest: #917c0e;
    --A-darker: #af9100;
    --A-dark: #d3b000;
    --A: #ffd500;
    --A-light: #ffdc2c;
    --A-lighter: #ffe250;
    --A-lightest: #ffe76e;

    /* Colors for objects that are background */
    --B-darker: #002b5e;
    --B-dark: #003471;
    --B: #003f88;
    --B-light: #2c609d;
    --B-lighter: #507bae;
}

body, html {
    background: #f9f9f9;
    height: 100%;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

title {
    display: block;
}

header {
    position: absolute;
    top: 1em;
    left: 1em;
}

header h1, header style {
    background: #fff;
    border-radius: 5%;
    display: block;
    font-size: 100%;
    padding: 1em;
    white-space: pre-wrap;
}

header title::after {
    content: "\A}"
}

header title::before {
    content: ".subject {\A    "
}

header style {
    font-weight: 300
}

/*/ Outer block /*/
.container {
    background: var(--B);
    border-radius: 5%;
    border: 1em solid var(--B-darker);
    display: block;
    height: var(--size-XL);
    width: var(--size-XL);
}

.container::after {
    content: "Hover over the target to trigger the transition";
    font-size: small;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
    top: 1em;
    width: 100%;
}

/*/ Inner block /*/
.subject,
.subject::after,
.subject::before {
    background: var(--A);
    border-radius: 5%;
    border: 1em solid var(--A-darker);
    display: block;
    font-family: "Roboto Flex", sans-serif;
    height: var(--size-M);
    position: relative;
    text-align: center;
    width: var(--size-M);

    /*/ transition: <property> <duration> <timing-function> <delay>; /*/
    transition-property: all;
    transition-duration: 1.7s;
    transition-timing-function: ease;
    transition-delay: 0.15s;
}

span.subject,
input.subject {
    border-width: 0.2em;
    font-size: 4.6em;
    height: var(--size-XXS);
    line-height: var(--size-XXS);
    text-align: center;
    width: var(--size-XXS);
}

.subject::after, .subject::before {
    position: absolute;
    opacity: 0.85;
}

.subject::after {
    left: calc(var(--size-XS) - 1em);
    top: calc(var(--size-XS) - 1em);
}

.subject::before {
    left: calc(-1 * var(--size-XS) - 1em);
    top: calc(-1 * var(--size-XS) - 1em);
}

.subject.after::after, .subject.before::before {
    content: "";
    z-index: 0;
}

/*/ Horizontally and vertically Center both blocks/*/
body, .container {
    display: grid;
}

.container, .subject {
    margin: auto;
}

/*/ Warning Dialog /*/
dialog {
    background: var(--A-lightest);
    border-color: var(--A-darker);
    border-radius: 5px;
    border-width: 1px;
    color: #333;
    display: block;
    margin: 1em 0;
    padding: 1em;
}

dialog:before {
    content: "⚠️";
    padding-right: 0.35em;
    text-shadow: #000 0 0 1px;
}

dialog a,
dialog code {
    color: #000;
}
