:root {
    --A-size: 12.5em;
    --A-offset: calc(var(--A-size) / 3);
    --B-size: calc(var(--A-size) * 3.5);

    /* Colors for objects that are animated */
    --A-darkest: #917c0e;
    --A-darker: #af9100;
    --A-dark: #d3b000;
    --A: #ffd500;
    --A-light: #ffdc2c;
    --A-lighter: #ffe250;
    --A-lightest: #ffe76e;

    /* Colors for objects that are background */
    --B-darker: #002b5e;
    --B-dark: #003471;
    --B: #003f88;
    --B-light: #2c609d;
    --B-lighter: #507bae;
}

body, html {
    background: #f9f9f9;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

title {
    display: block;
}

header {
    position: absolute;
    top: 1em;
    left: 1em;
}

header h1, header style {
    background: #fff;
    border-radius: 5%;
    font-family: monospace;
    padding: 1em;
    font-size: 100%;
    display: block;
    white-space: pre-wrap;
}

/*/ Outer block /*/
.container {
    background: var(--B);
    border-radius: 5%;
    border: 1em solid var(--B-darker);
    display: block;
    height: var(--B-size);
    width: var(--B-size);
}

.container::after {
    content: "Hover over the target to trigger the transition";
    font-family: sans-serif;
    font-size: small;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
    top: 1em;
    width: 100%;
}

/*/ Inner block /*/
.subject,
.subject::after,
.subject::before {
    background: var(--A);
    border-radius: 5%;
    border: 1em solid var(--A-darker);
    display: block;
    height: var(--A-size);
    position: relative;
    width: var(--A-size);

    /*/ transition: <property> <duration> <timing-function> <delay>; /*/
    transition-property: all;
    transition-duration: 1.7s;
    transition-timing-function: ease;
    transition-delay: 0.15s;
}

input.subject{
    border-width: 0.2em;
    font-size: 4.6em;
    height: calc(var(--A-size) / 4);
    text-align: center;
    width: calc(var(--A-size) / 4);
}

.subject::after, .subject::before {
    position: absolute;
    opacity: 0.85;
}

.subject::after {
    left: calc(var(--A-offset) - 1em);
    top: calc(var(--A-offset) - 1em);
}

.subject::before {
    left: calc(-1 * var(--A-offset) - 1em);
    top: calc(-1 * var(--A-offset) - 1em);
}

/*/ Horizontally and vertically Center both blocks/*/
body, .container {
    display: grid;
}

.container, .subject {
    margin: auto;
}

/*/ Warning Dialog /*/
dialog {
    background: var(--A-lightest);
    border-color: var(--A-darker);
    border-radius: 5px;
    border-width: 1px;
    color: #333;
    display: block;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
}

dialog:before {
    content: "⚠️";
    padding-right: 0.35em;
    text-shadow: #000 0 0 1px;
}

dialog code {
    color: #000;
}
